 

* {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}


input {
    border-radius: 6px;
    
}

form {
    color:#F2EFF1;
    background: #1D3C3F;
    margin: 50px;
    padding: 50px;
    border-radius: 6px;
}
